<header class="col-lg-6 mx-auto p-3 py-md-3">
    <h1><a class="text-reset text-decoration-none" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h3>
    <p>{{ .Site.Params.description }}</p>
    <p><a href="mailto:{{ .Site.Params.email }}"><img src="/images/envelope-fill.svg" alt="Email"></a>
    <a href="https://github.com/{{ .Site.Params.github }}"><img src="/images/github.svg" alt="Github"></a>
    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}"><img src="/images/linkedin.svg" alt="LinkedIn"></a></p>
</header>